
	<div class="flex-container">
		<div>
			<h1>Login</h1>
			<form action="/action_page.php">
			  Username:<br>
			  <input class="input" type="text" name="username" placeholder="Username">
			  <br>
			  Password:<br>
			  <input class="input" type="password" name="password" placeholder="Password">
			  <br><br>
			  <input type="submit" value="Submit">
			</form> 
		</div>
	</div>
<!--
	<ul>
			<h1>Books</h1>
			<li *ngFor="let book of books | async">
					<pre>{{ book | json }}</pre>
			</li>
	</ul>
-->