body, head, footer{
   background-color: rgba(125, 216, 216, 0.5);
}

footer{
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 20px;
}

p {
    font-family: verdana;
}

a{
    text-align: center;
}
