<!--The content below is only a placeholder and can be replaced.-->
	<head>
		<title> PrepaApp</title>
	</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">PrepaApp</a>
    <a class = "nav-link" routerLink="/login">Login</a>
    <a class = "nav-link" routerLink="/register">Register</a>
    <a class = "nav-link" routerLink="/home">Persons</a>
  </nav>
  <router-outlet></router-outlet>
</body>
<footer>
  <h6>Aplicación instructiva para los alumnos de Sistemas de Información</h6>
  <h6>Autor: GIG</h6>
</footer>

