
	<div class="flex-container">
		<div>
			<h1>Login</h1>
			<form [formGroup]="loginForm">
				<label>Email</label>
				<input type="text" class="form-control"  formControlName = 'email' id="email" name="email"> 
				<label>Password</label>
				<input type="password" class="form-control" formControlName = 'password' id="password"  name="password"> 
				<br>
				<a href="register"> Aun sin cuenta? registrate! </a>
				<br>
				<br>
				<button [disabled]="!loginForm.valid" (click)='onSubmit()'> Submit</button>
			  </form>
		</div>
	</div>
