.cards {  
    display: flex;
    flex-flow: wrap;
    align-content: space-between;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.card {
    width: 40%;
    margin: 15px;
    padding: 15px;
    text-align: justify; 
}



h5 {
    text-align: center;
}

img{
    width: 100%;
    height: 50%;
}