<div class ="container">
    <div>
        <accordion>
            <accordion-group heading="Formulario">
                <h3>Fichas: {{texto}}</h3>
                <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
                  <input type="text" class="form-control" id="texto"  required [(ngModel)]="texto" name="text"> 
                  <button type="Submit" [disabled]="!form.valid" class="btn btn-secondary"> Submit</button>
                </form>
            </accordion-group>
        </accordion>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)="agregarPersona()" type="button" class="btn btn-secondary"> Agregar Persona Dummy</button>
        <button *ngIf = "db.length > 1" (click)="eliminarPersona()" type="button" class="btn btn-secondary"> Eliminar ultima Persona</button> 
        <button (click)="filtrar()" type="button" class="btn btn-secondary">Filtrar</button>
    </div>
    <div>
      <accordion>
          <accordion-group *ngFor="let person of filteredDb" [heading]="person.last_name.concat(',').concat(person.first_name)">
            <app-person [persona] = "person"> </app-person>
          </accordion-group>
      </accordion>
  </div>
</div>
