h3 {
    text-align: center;
}

.intern {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    width: 95%;
}

table, td, th{
    border-collapse: collapse;
    border: 2px black solid;
    text-align: center;
}