<div>
    <button (click)="agregarPersona()"> Agregar Persona Dummy</button>
    <button *ngIf = "db.length > 1" (click)="eliminarPersona()"> Eliminar ultima Persona</button> 
    <div>
      <h3>Fichas: {{texto}}</h3>
      <form #customerForm="ngForm">
        <input type="text" class="form-control" id="texto"  required [(ngModel)]="texto" name="text"> 
      </form>
      <table >
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Gender
                </th>
                <th>
                  Bitcoin Address
                </th>
              </tr>
        </thead>
        <tbody>
        <tr *ngFor="let person of db">
          <app-person [persona]="person"></app-person>
        </tr>
      </tbody>
      </table>
    </div>
</div>
